
body {
    margin: 0;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;

}

.wrapper > * {
    display: flex;
    flex: 1 100%;
}

.header {
  background: #DA5A78;
  height: 30px;
}

.logo {
    display: flex;
    background: #eaecef;
    justify-content: space-between !important;
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Grey fallback color */
    background-color: rgba(175,175,175, 0.9); /* Grey w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
    -ms-overflow-style: none; /*hides menu scrollbar in IE*/
}

/*hides menu scrollbar in Chrome*/
.overlay::-webkit-scrollbar {
    width: 0 !important;
}

/* Position and style the content inside the overlay */
.overlay-content {
    position: relative;
    top: 15%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: left; /* Left-align text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

ul {
    list-style: none;
}

.dropdown-header {
    font-size: 2em;
    font-weight: bold;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    color: #DA5A78;
    /*color: #0c7897;*/
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    margin-left: 30px;
    text-decoration: none;
    font-size: 27px;
    font-weight: bold;
    color: #000000;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

#thumbnail {
    padding-right: 10px;
    padding-bottom: 8px;
    padding-top: 0px;
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/*Style the menu button*/
#menuButton {
  font-size: 2em;
  cursor: pointer;
  margin-top: 15px;
  margin-right: 10px;
}

#menuButton:hover {
  color: #31b8b1;
}

/*Style the main text for mobile*/
.mobile {
    text-align: left;
    font-weight: bold;
    color: #08676d;
    padding-left: 20px;
    padding-top: 15px;
    font-size: 2em;

}

#mobileSubheading {
    display: flex;
    flex: 1;
    height: 20vh;
    padding: 20px;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #08676d;
    color: #fff;
    justify-content: center !important;
    flex-direction: row, column;
}

#mainText {
    display: flex;
    flex: 1;
    height: 60vh;
    background-color: #08676d;
    color: #fff;
    font-weight: bold;
    font-size: 3em;
    justify-content: center !important;
    align-items: center;
}

#mainText > h1 {
    font-size: 2.5em;
    font-weight: bold;
    color: #fff;
    text-align: right;
    padding-right: 100px;
}

#description {
    display: flex;
    flex: 1;
    padding: 25px;
    font-size: 1.2em;
}

#weMobile {
  color: #A64A71;
}

#we {
  color: #D581A2;
}

#subheading {
    display: flex;
    flex: 1;
    height: 35vh;
    padding-top: 20px;
    padding-left: 10px;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #08676d;
    color: #fff;
    justify-content: center !important;
    flex-direction: row, column;
}

.flex-grid {
  display: flex;
}

.col {
  display: flex;
  flex: 1;
  justify-content: center !important;
  padding: 20px;
}

#lastRow {
    background: #eaecef;
}

#whyHeading {
    display: flex;
    flex: 1;
    height: 35vh;
    background-color: #08676d;
    color: #fff;
    font-weight: bold;
    font-size: 3em;
    justify-content: center !important;
    align-items: center;
}

#whyText {
    /*display: flex;
    flex: 1;
    height: 45vh;*/
    padding-top: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.5em;
    background: #eaecef;
    align-items: center;
}

#whyMobile {
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
    background: #eaecef;
    align-items: center;
    justify-content: center;
}

#whyIcons {
    padding-right: 20px;
}

#whyMobileIcons {
    padding-top: 40px;
}

#bootcampHeading {
    display: flex;
    flex: 1;
    height: 20vh;
    background-color: #08676d;
    color: #fff;
    font-weight: bold;
    font-size: 3em;
    justify-content: center !important;
    align-items: flex-end;
}

#bootcampSubheading {
    display: flex;
    flex: 1;
    height: 20vh;
    padding-top: 20px;
    font-weight: bold;
    font-size: 1.5em;
    background-color: #08676d;
    color: #fff;
    justify-content: center !important;
    flex-direction: row, column;
}

#bootcampicons {
    padding-top: 80px;
    padding-bottom: 80px;
}

#footer {
    display: flex;
    justify-content: center;
    background-color: #D581A2;
    padding: 10px;
}

#footerIcon {
    padding: 10px;
}

#first {
  padding-right: 30px;
}

/*styling for boot camp modals*/

.modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 1; /* Sit on top */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

#myBtn1,
#myBtn2,
#myBtn3,
#myBtn4,
#myBtn5,
#myBtn6,
#myBtn7 {
  color: black;
}

/* Modal Content/Box */
.modal-content {
   background-color: #fefefe;
   color: black;
   margin: 15% auto; /* 15% from the top and centered */
   padding: 30px;
   text-align: left;
   border: 1px solid #888;
   width: 40%; /* Could be more or less, depending on screen size */

}

/* The Close Button */
.close1,
.close2,
.close3,
.close4,
.close5,
.close6,
.close7 {
   color: #aaa;
   float: right !important;
   font-size: 28px;
   font-weight: bold;
}

.close1:hover,
.close1:focus,
.close2:hover,
.close2:focus,
.close3:hover,
.close3:focus,
.close4:hover,
.close4:focus
 {
   color: black;
   text-decoration: none;
   cursor: pointer;
}

.listHeader {
  text-align: left !important;
}
.list {
  text-align: left !important;
}

#closeBtn5:hover,
#closeBtn5:focus,
#closeBtn6:hover,
#closeBtn6:focus,
#closeBtn7:hover,
#closeBtn7:focus
  {
  color: black;
  text-decoration: none;
  cursor: pointer !important;
}

@media (min-width: 992px) {
    .mobile,
    label,
    #mobileSubheading,
    #whyMobile {
        display: none !important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .mobile,
    #mobileSubheading,
    #whyMobile {
        display: none !important;
  }

}

@media (max-width: 767px) {
    #mainText,
    #mainInfo,
    #subheading,
    #bootcampSubheading,
    #whyText {
        display: none !important;
    }
    #lastRow {
        flex-wrap: wrap !important;
    }
    .col {
        flex-basis: 50% !important;
    }
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
/*@media screen and (max-height: 450px) and (max-width: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}*/
